extends ../layouts/default

block content
    div.container
        h1 Results

    - var errorCount = 0;
    - _.map(results, function(r){if (r.fail) errorCount=errorCount+1;})
    div.container
        if errorCount > 0
            h3 Errors:
            p
                each result in results
                    if result.fail
                        div #{result.message}, 
    div.container
        h3 Changes:
        table.table
            thead
                tr
                    th Fund Name
                    th SEDOL
                    th Price
                    th Bid
                    th Canc
                    th Yield
                    th Date (D/M/Y)
            tbody
                each result in results
                    if !result.fail
                        tr
                            td #{result.name}
                            td #{result.sedol}
                            td #{result.price}
                            td #{result.bid}
                            td #{result.canc}
                            td #{result.yield}
                            td
                                span #{result.date.getDate()}/
                                span #{result.date.getMonth()+1}/
                                span #{result.date.getUTCFullYear()}

        form(action="/csvcommit", method="post" enctype="multipart/form-data")
            div.form-group
                input(type="hidden" name="data" value="#{JSON.stringify(results)}")
                input(type="submit", value="Submit Changes", class="form-control btn btn-primary")
