extends ../layouts/default

block content
    div.container: .jumbotron
        h3 Upload CSV
        form(name="login", action="/csv", method="post" enctype="multipart/form-data")
            div.form-group
                label File
                input(type="file", name="file", class="form-control" multiple="multiple")
            div.form-group
                input(type="submit", value="upload", class="form-control")
