extends ../layouts/default

block content
    div.container
        h1 Results

    - var errorCount = 0;
    - _.map(results, function(r){if (r.fail) errorCount=errorCount+1;})
    div.container
        if errorCount > 0
            h3 Errors:
            p
                each result in results
                    if result.fail
                        div #{result.message}
    
    - var filtered = _.filter(results, function(r){return r.fail != true});
    div.container
        h3 Share Class Changes:
        table.table
            thead
                tr
                    th file
                    th type
                    th share class name
                    th sedol
            tbody
                each result in _.filter(filtered, function(r){return r.sedol != undefined})
                    tr
                        td #{result.original}
                        td #{result.type}
                        td #{result.sharename}
                        td #{result.sedol}
        
        h3 Sponsor Changes:
        table.table
            thead
                tr
                    th file
                    th type
                    th sponsor
                    th category
            tbody
                each result in _.filter(filtered, function(r){return r.sedol == undefined})
                    tr
                        td #{result.original}
                        td #{result.type}
                        td #{result.sharename}
                        td #{result.category}
        

        form(action="/docscomplete", method="post" enctype="multipart/form-data")
            div.form-group
                input(type="hidden" name="data" value="#{JSON.stringify(filtered)}")
                input(type="submit", value="Submit Changes", class="form-control btn btn-primary")
