extends ../layouts/default

block content
    div.container: .jumbotron
        h3 Managers Comments
        form(name="login", method="post" enctype="multipart/form-data")
          input(type="hidden" value='submitComment')
          div.form-group
            label Fund
            select(name='range').form-control
              each item in ranges
                option(value=item._id) #{item.name}
          div.form-group
            label Title
            input(type="text", name="title").form-control
          div.form-group
            label PDF
            input(type="file", name="file", class="form-control")
          div.form-group
            label Content
            textarea(name="content" rows="6")
          div.form-group
              input(type="submit", value="Submit", class="form-control")
